main{
  background-color: #c1f7dc;
  font-family: 'Crimson Text', serif;
  padding: 30px;
}
input {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
#title {
  font-size: 72px;
  color: white;
  font-family: 'Staatliches', cursive;
  position: relative;
  margin: 15px;
  padding: 50px;
  border-radius: 20px;
  background: #0b2333;
  text-align: center;
}
#description {
  margin: 10%;
  font-size: 32px;
}
#survey-form {
  background: #59a5d8;
  color: #0b2333;
  border-radius: 10px;
  font-family: 'Staatliches', cursive;
  padding: 20px;
  font-size: 26px;
  display: grid;
  grid-template-columns: 55% 35%;
  grid-gap: 5px;
  justify-items: right;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: auto;
}
#sleep {
  font-size: 20;
}
#quality-radio {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  color: black;
  background: #90d4e5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px #0b2333;
}
#sleep-aids {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  color: black;
  background: #90d4e5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px #0b2333;
}
#aid-quality {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  color: black;
  background: #90d4e5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px #0b2333;
}
textarea {
  font-family: sans-serif;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}
button {
  padding: 10px;
  background: #7ef7ba;
  border-radius: 5px;
  border-color: #0b2333;
  font-family: 'Staatliches', cursive;
  display: block;
  width: auto;
  font-size: 24px;
}
button:hover {
  animation-name: background-color;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background: #0b2333;
    color: #c1f7dc;
  }
}
footer {
  text-align: center;
}
